.technologies {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  justify-content: center;
}

.container-typing-about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteiner-content-about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-about {
  width: 70%;
  text-align: justify;
}

.typing-about {
  display: inline-block;
  max-width: fit-content;
  animation: typing-about 2s ease-in-out forwards, blink-about 800ms ease-in-out infinite;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid var(--light);
  max-height: fit-content;
}

@keyframes typing-about {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes blink-about {
  from {
    border-right: 2px solid var(--light);
  }

  40%,
  60% {
    border-right: 2px solid rgb(21, 32, 43);
  }

  to {
    border-right: 2px solid var(--light);
  }
}

.container-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
}

.about-infos {
  margin-top: 130px;
  margin-bottom: 70px;
}

.contanier-about section h1 {
  display: flex;
  justify-content: center;
  margin: 25px 0 50px;
}

.card-technology {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 2px;
  text-decoration: none;
  width: 150px;
  height: 35px;
}

.card-technology p {
  margin: 0 10px;
}
