/* stylelint-disable alpha-value-notation */
.technologies {
  animation: show 1s ease-in-out forwards;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 500px;
}

.card-technology {
  display: flex;
  align-items: center;
  margin: 10px;
  border-radius: 2px;
  text-decoration: none;
}

.card-technology:hover {
  background-color: rgb(169 169 169);
}

.card-technology p {
  margin: 0 10px;
}

@keyframes show {
  to {
    transform: translateX(400px);
  }

  from {
    transform: translateX(-480px);
  }
}

.ligth {
  color: black;
}

.dark {
  color: white;
}
