footer {
  display: flex;
  margin-top: auto;
  background-color: rgb(45 51 59);
  justify-content: space-between;
  color: white;
}

footer h3 {
  margin: 15px 40px;
}

footer h3 a {
  text-decoration: none;
  color: purple;
}

@media screen and (max-width: 794px) {
  footer {
    flex-direction: column;
  }

  footer h3 {
    font-size: 13px;
  }
}
