:root {
  --dark: rgb(44 43 43);
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  background-color: var(--dark);
  justify-content: space-between;
}

header section h1 {
  margin-left: 20px;
  font-family: "Press Start 2P", cursive;
}

header nav,
header section {
  margin-right: 30px;
  display: flex;
  align-items: center;
}

header nav a {
  text-decoration: none;
  padding: 10px;
  font-size: 10px;
  font-family: "Press Start 2P", cursive;
}

header nav a:hover {
  color: black;
  background-color: white;
}

header section select {
  border-radius: 2px;
  color: white;
  background-color: var(--dark);
}
