header {
  width: 100vw;
  height: 70px;
  display: flex;
  color: white;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
}

header section h1 {
  margin-left: 20px;
  font-family: "Press Start 2P", cursive;
}

header nav,
header section {
  margin-right: 15px;
  display: flex;
  align-items: center;
}

header nav a {
  text-decoration: none;
  padding: 10px;
  color: white;
  font-size: 10px;
  font-family: "Press Start 2P", cursive;
  display: flex;
  align-items: center;
}

.disable-link {
  border-bottom: 3px solid white;
  pointer-events: none;
}

header nav a:hover {
  color: black;
  background-color: white;
}

.menu-button {
  margin-left: 15px;
  display: none;
}

header section select {
  border-radius: 2px;
  color: white;
  margin-right: 20px;
}

@media screen and (max-width: 794px) {
  header section nav {
    display: none;
  }

  header section h1 {
    display: none;
  }

  .menu-button {
    display: block;
  }
}
