img.profile-picture {
  border-radius: 50%;
  margin: 50px;
  box-shadow: 0 0 0 2px black;
  width: 30vw;
  height: 30vw;
}

.main-contanier {
  display: flex;
  justify-content: space-around;
  margin-right: 130px;
  margin-top: 70px;
  width: 100vw;
}

@media screen and (max-width: 1034px) {
  img.profile-picture {
    width: 25vw;
    height: 25vw;
  }

  .main-contanier {
    align-items: center;
    flex-direction: column;
    margin: 220px 0;
  }
}
