* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Red Hat Mono", monospace, sans-serif;
  color: #fff;
}

body {
  background-color: rgb(30 30 30);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(30 30 30);
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 15px;
}
