::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgb(21, 32, 43);
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 15px;
}

:root {
  --background-dark: rgb(21, 32, 43);
  --background-ligth: rgb(250, 250, 250);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Red Hat Mono", monospace, sans-serif;
}

body {
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.style-button {
  background: none;
  border: none;
  cursor: pointer;
}

.ligth {
  color: black;
}

.dark {
  color: white;
}

.overlay {
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  border: none;
}
