.nav-bar {
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(31, 31, 31);
  width: 50vw;
  height: 100vh;
  position: fixed;
  z-index: 4;
  flex-direction: column;
  transform: translateX(-100vw);
  transition: ease-in-out 100ms;
}

.nav-bar a {
  margin-left: 15px;
  text-decoration: none;
  color: white;
  padding: 7px;
  width: fit-content;
}

.nav-bar a:hover {
  background-color: white;
  color: black;
}

.links-group {
  display: flex;
  flex-direction: column;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.header-nav h2 {
  font-size: 20px;
  padding-left: 20px;
  font-family: "Press Start 2P", cursive;
  color: white;
}

.hide {
  transform: translateX(-100);
}

.show {
  transform: translateX(0);
}

@media screen and (max-width: 794px) {
  .header-nav h2 {
    font-size: 12px;
  }
}
