.conteiner-not-found {
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 70px;
}

.conteiner-not-found img {
  width: 100vw;
  height: 50vh;
}

@media screen and (max-width: 794px) {
  .conteiner-not-found h1 {
    font-size: 20px;
  }
}
