:root {
  --dark: rgb(44 43 43);
}

.main-project-container {
  margin: 25px;
}

.contanier .project-contanier {
  display: flex;
}

.javascript-container {
  margin-top: 70px;
}

.contanier .project-contanier .card-project {
  display: flex;
  flex-direction: column;
  width: 330px;
  height: fit-content;
  background-color: var(--dark);
  margin: 30px;
  color: white;
}

.contanier .project-contanier p {
  margin-bottom: 50px;
}

.contanier .card-project img {
  width: 300px;
  margin: 10px 0 25px;
}

.contanier .project-contanier .card-project img,
.contanier .project-contanier .card-project p {
  margin-left: 15px;
}
