:root {
  --dark: rgb(30, 30, 30);
  --ligth: rgb(255, 255, 255);
}

section.contanier-typing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

section .text-typing {
  display: inline-block;
  max-width: fit-content;
  animation: typing 2s ease-in-out forwards, blink 1s ease-in-out infinite;
  overflow: hidden;
  white-space: nowrap;
  max-height: fit-content;
}

section h1.text-typing {
  font-size: 33px;
}

section p.text-typing {
  font-size: 25px;
}

@keyframes typing {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes blink {
  from {
    border-right: 2px solid var(--ligth);
  }

  50% {
    border-right: 2px var(--dark);
  }

  to {
    border-right: 2px solid var(--ligth);
  }
}

@media screen and (max-width: 794px) {
  section p.text-typing {
    font-size: 0.88em;
  }

  section h1.text-typing {
    font-size: 20px;
  }
}

@media screen and (max-width: 320px) {
  section p.text-typing {
    font-size: 0.8em;
  }

  section h1.text-typing {
    font-size: 20px;
  }
}
